* {
    padding: 0;
    margin: 0;
}

.section_03 {
    margin: 25px;
    height: 65vh;
    position: relative;
    overflow: hidden;
    z-index: 1;

&::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    filter: blur(3px);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    background-image: url(../img/bgBuilding01.jpg); 
} 

    & .geto_image {
        position: absolute;
        top: 0;
        left: 30%;
        height: 65vh;
        z-index: -1;

    }

    & .section3_text1 {
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & h1 {
            font-size: 100px;
            letter-spacing: 3px;
        }

        & p {
            font-size: 15px;
            letter-spacing: 6px;
        }
    }

}