* {
  padding: 0;
  margin: 0;
}

.section_04 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 95vh;
  background-color: #99d2ea;

  & .S4_image img {
    object-fit: cover;
    width: 25vw;
    height: 95vh;
  }

  & .S4_containers {
    display: flex;
    flex-direction: column;

    & .S4_container_01 {
      
      font-family: "Yeseva One", serif;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 5px;
    }

    & .S4_container_02 {
      background-color: #f6cf56;
      padding: 30px;
      height: 70vh;
      width: 65vw;
      gap: 35px;
      display: flex;
      justify-content: space-around;
      font-family: "Yeseva One", serif;


      & .S4-image img {
        object-fit: cover;
        width: 200px;
        height: 500px;
      }

      & .S4_container_02-4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        & h1 {
          font-family: "Yeseva One", serif;
          font-size: 55px;
          letter-spacing: 2px;
          border-bottom: 25px solid black;
          margin-bottom: 25px;
        }

        & h3 {
          font-family: "Yeseva One", serif;
          height: 25px;
          margin-top: 35px;
          font-size: 25px;
          letter-spacing: 1px;
        }

        & .p1 {
          font-family: "Radio Canada", sans-serif;
          letter-spacing: 1px;
          padding-bottom: 15px;
          border-bottom: 2px solid black;
        }

        & .p2 {
          font-family: "Radio Canada", sans-serif;
          letter-spacing: 1px;          
          border-top: 3px solid black;
          margin-top: 5px;
          padding-top: 10px;
          height: 25px;
          width: 262px;

        }

        & .p3 {
          font-family: "Radio Canada", sans-serif;
          letter-spacing: 1px;
          height: 15px;
          width: 262px;
        }
      }
    }

    & .S4_container_03 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
      font-family: "Yeseva One", serif;
      padding-bottom: 25px;

    }
  }
}
