* {
  padding: 0;
  margin: 0;
}

@keyframes bgcolor {
  0% {
    background: linear-gradient(0deg, beige, #3d3d75);
  }
  25% {
    background: linear-gradient(90deg, beige, #3d3d75);
  }
  50% {
    background: linear-gradient(1800deg, beige, #3d3d75);
  }
  75% {
    background: linear-gradient(270deg, beige, #3d3d75);
  }
  100% {
    background: linear-gradient(360deg, beige, #3d3d75);
  }
}

.section_01 {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 30px;

  & .container_01 {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90vw;
    height: 64vh;
    animation: bgcolor 5s ease-in-out infinite;
    z-index: 1;

    & .gojo01 {
      position: absolute;
      object-fit: contain;
      top: 0%;
      left: 29%;
      z-index: -1;
    }

    & p {
      background-color: rgba(153, 135, 185, 0.445);
      border: 2px solid white;
      color: white;
      padding: 5px;
      display: flex;
      align-items: flex-end;
      font-size: 20px;
      width: 30vw;
      line-height: 35px;
      text-align: justify;
    }

    & .middle_container_01 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 55vw;

      & h1 {
        font-size: 130px;
        color: black;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
      }

      & .middle_container_nav {
        display: flex;
        justify-content: space-evenly;
        width: 64vw;

        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          background-color: rgba(153, 135, 185, 0.445);
          border: 2px solid white;
          color: white;
          height: 80px;
          width: 200px;
          border-radius: 25px;
          font-size: 25px;

          &:hover {
            background-color: rgb(153, 135, 185);
            color: black;
          }
        }
      }
    }
  }
}

.section_02 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  & .container_01 {
    position: relative;
    width: 70vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-around;


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25vw;
      height: 65vh;
      filter: blur(3px);
      background-size: cover;
      background-position: center center;
      z-index: -1;
      background-image: url(../img/bgSky.jpg);
      transition: all 0.5s ease;
    }

    & .left_container_01 {
      position: absolute;
      top: 0;
      left: 0;
      width: 25vw;
      height: 65vh;

      &:hover + .right_container_01 {
        opacity: 100%;   
        transition: all 1s ease;     
      }
    }

    &:hover::before{
      width: 50vw; 
      transition: all 0.5s ease;

    }

   

    & .right_container_01 {
      display: flex;
      flex-direction: column;
      width: 19vw;
      padding: 20px;
      opacity: 0%;
      transition: all 1s ease;     

      &:hover{
        opacity: 100%;
      }


      & .r_c_01_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      & .r_c_01_middle {
        & h1 {
          font-size: 70px;
        }

        & h3 {
          padding-top: 10px;
          font-size: 25px;
        }
      }

      & .r_c_01_bottom {
        margin-top: 25px;
        margin-bottom: 25px;

        & .icons_nav {
          display: flex;
          justify-content: space-between;
          width: 282px;

          & a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 50px;
            color: #52756e;
            transition: all 1.5 ease;

            &:hover {
              background-color: #52756e;
              border: 2px solid rgb(215, 208, 166);
              border-radius: 25px;
              color: antiquewhite;
            }
          }

          & i {
            font-size: 25px;
          }
        }
      }
    }
  }
}


.section_03 {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  height: 55vh;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(3px);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    background-image: url(../img/bgBuilding01.jpg);
  }

  & .S3_container_02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    & .S3_container02_text1 {
      & .context {
        padding: 25px;
        display: flex;
        align-items: center;
        background-color: #241f1f82;
        border: 2px solid rgb(208, 194, 114);
        color: white;
        height: 100px;
        font-family: "Chivo", sans-serif;
        border-radius: 25px;
        font-size: 15px;
        line-height: 2;
      }

      & .S3_container02_button {
        display: flex;
        flex-direction: row;
        padding-top: 15px;

        & i {
          font-size: 45px;
          color: #d0c272;
          height: 15vh;
          transition: all 0.5s ease-out;

          &:hover {
            font-size: 6.5vh;
          }
        }

        & .start {
          z-index: -3;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 15px;
          font-size: 25px;
          height: 50px;
          width: 500px;
          background-color: #33333345;
          color: white;
          border-radius: 25px;
          border: 2px solid rgb(208, 194, 114);
        }

        #start_Watch::before {
          transform: translate(20px);
        }

        #play:hover ~ .start {
          transform: translate(10px);
          transition: all 0.5s ease;
          z-index: 1;
        }
      }
    }
    & .c_02_nav {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      width: 450px;
      white-space: normal;
      padding: 10px;

      & .column {
        padding: 10px;
      }

      & .enlarge {
        transition: all 1s ease-out;

        &:hover {
          color: red;
          transform: scale(1.1);
        }
      }
    }
  }
}

@keyframes cleanup {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.section_04 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;

  & .S4_container_02 {
    background-color: #f6cf56;
    font-family: "Yeseva One", serif;
    padding: 30px;
    height: 70vh;
    width: 65vw;
    gap: 35px;
    display: flex;
    justify-content: center;
    justify-content: space-around;

    & .S4-image {
      background-color: gray;
      width: 200px;
      height: 500px;

      & .img1 {
        object-fit: cover;
        border: 2px solid black;
        width: 200px;
        opacity: 0%;
        height: 500px;
        transition: all 1s ease-out;

        &:hover {
          animation: cleanup 1s ease 1 normal;
        }
      }
    }

    & .S4-image {
      background-color: gray;
      width: 200px;
      height: 500px;

      & .img2 {
        object-fit: cover;
        border: 2px solid black;
        width: 200px;
        opacity: 0%;
        height: 500px;
        transition: all 1s ease;

        &:hover {
          animation: cleanup 1s ease 1 forwards;
        }
      }
    }

    & .S4-image {
      background-color: gray;
      width: 200px;
      height: 500px;

      & .img3 {
        object-fit: cover;
        border: 2px solid black;
        width: 200px;
        opacity: 0%;
        height: 500px;
        transition: all 1s ease;

        &:hover {
          animation: cleanup 1s ease 1 forwards;
        }
      }
    }

    & .S4_container_02-4 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      & h1 {
        font-family: "Yeseva One", serif;
        font-size: 55px;
        letter-spacing: 2px;
        border-bottom: 25px solid black;
        margin-bottom: 25px;
      }

      & h3 {
        font-family: "Yeseva One", serif;

        height: 25px;
        margin-top: 35px;
        font-size: 25px;
        letter-spacing: 1px;
      }

      & .p1 {
        font-family: "Radio Canada", sans-serif;

        padding-bottom: 15px;
        border-bottom: 2px solid black;
      }

      & .p2 {
        font-family: "Radio Canada", sans-serif;

        letter-spacing: 1px;
        border-top: 3px solid black;
        margin-top: 5px;
        padding-top: 10px;
        height: 25px;
        width: 262px;
      }

      & .p3 {
        font-family: "Radio Canada", sans-serif;

        letter-spacing: 1px;
        height: 15px;
        width: 262px;
      }
    }
  }
}

@keyframes colorful {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

.section_05 {

    position: relative;
    width: 100%;
    height: 85vh;
    background-image: linear-gradient(to right, transparent 25%, black 45%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    & .bgImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: grayscale(1);
      z-index: -1; /* move it behind the.S52_container3 element */
    }
}
  
  .S52_container3 {
    width: 35vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .S5_container_text {
      height: 8%;
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
      color: white;
      font-family: "Cinzel Decorative", serif;


      &:hover + .S5_container_nav {
        transform: translateY(1vh);
        opacity: 100%;
        transition: all 0.5s ease;
      }
      

      & h3 {
        font-size: 25px;
        letter-spacing: 1px;
        &:hover {
          animation: colorful 1.5s ease infinite;
        }    
      }
    }
    
    


    & .S5_container_nav {
      position: relative;
      width: 45%;
      height: 45vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      opacity: 0%;
     
      &:hover{
        translate: (0px,-150vh);
        
        opacity: 100%;
      }

        & .op {
          text-align: end;
          background-color: rgb(151, 35, 35);
          color: white;
          width: 18vw;
          text-decoration: none;
          padding: 15px;
          font-family: "Economica", sans-serif;
letter-spacing: 3px;
         
         &:hover {
          background-color: white;
          color: black;
         }
         
   
      }
    }
 }




